@*
    Tham khảo để làm Category table:
    https://learningprogramming.net/net/asp-net-core-mvc-5/use-session-in-asp-net-core-mvc-5/
*@

@model SimpleNewsWebsite.Areas.Admin.Controllers.CategoryController.CategoryValidation

@{
    ViewBag.Title = "Trang category";
    ViewBag.TextLogin = "Admin đang đăng nhập";
    ViewBag.PageCode = 2;
    var list_category = ViewData["list_category"] as List<SimpleNewsWebsite.Models.Category>;
}

<div>
    <p>
        Trang category nè
    </p>
    <br />
    Form1: &nbsp;@ViewData["form1"]
    <br />
    <br />
    Result (success): @ViewData["result"]
    <br />
    <form asp-area="Admin" asp-controller="Category" asp-action="Create" method="post" id="myform">
        <div class="mb-4">
            <input asp-for="@Model.catname" name="catname" type="text" id="catname" placeholder="Nhập tên danh mục">
            &nbsp;<input asp-for="@Model.catstatus" name="catstatus" id="catstatus" class="form-check-input" type="checkbox">&nbsp;<span id="hienThi">Hiển thị</span>
            &nbsp;<button type="submit" class="btn btn-primary" id="btnAdd">Thêm/cập nhật</button>
            <div><span asp-validation-for="@Model.catname" class="text-danger"></span></div>
        </div>
    </form>
    <h4>Danh sách danh mục</h4>
    <form asp-controller="Post" asp-action="Category" method="post">
        <div class="mb-3">
            <input name="query" type="text" id="query" placeholder="Từ khóa">
            &nbsp;<button type="submit" class="btn btn-primary">Tìm</button>
        </div>
    </form>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Tên danh mục</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Chức năng</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < list_category.Count; i++)
            {
                <tr>
                    <th scope="row">@list_category[i].CatID</th>
                    <td>@list_category[i].CatName</td>
                    <td>@(list_category[i].CatStatus == 1 ? "Hiển thị" : "Ẩn")</td>
                    <td>
                        <button type="button" class="btn btn-warning btnEdit" id="@list_category[i].CatID">Sửa</button>
                    </td>
                </tr>
            }
            @*<tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Ẩn</td>
                    <td>
                        <button type="button" class="btn btn-warning">Sửa</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Hiển thị</td>
                    <td><button type="button" class="btn btn-warning">Sửa</button></td>
                </tr>*@
        </tbody>
    </table>
</div>

@section CSS{
    <link href="~/admin/css/category.css" rel="stylesheet" />
}

@section JS{
    <script>
        $(document).ready(function () {

            btns = document.getElementsByClassName("btnEdit");
            for (let i = 0; i < btns.length; i++) {
                btns[i].addEventListener("click", function () {
                    alert(this.id);
                });
            }

            document.getElementById("btnAdd").addEventListener('click', function (e) {
                e.preventDefault();

                let valCatname = document.getElementById('catname').value;
                //let valCatstatus = document.getElementById('catstatus').value;

                let my_url = `${window.location.origin}/api/category/${valCatname}`
                $.ajax({
                    method: "GET",
                    url: my_url,
                    data: {}
                })
                    .done(function (msg) {
                        if (msg == "exist") {
                            alert('Danh mục đã tồn tại')
                        } else {
                            document.getElementById("myform").submit();
                        }
                    }).fail(function (jqXHR, textStatus) {
                        alert("Request failed: " + textStatus);
                    })
            })
        });



    </script>
}